/*{
  border:1px solid green;
}*/
*{
  box-sizing: border-box;
  margin:0;

}
.row::before{
  content: "";
  clear:both;
  display:table;
}

[class*="col-"] {
    width: 100%;
    float:left;

}

@media only screen and (min-width:768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

}

/***top navigation bar ****/
.web{
  position:fixed;
  top:0;
  z-index:100;
  width:100%;
  margin:0;
  padding:0;
  background-color: black;
}
.web h3{
  text-align: center;
}
.web h3 a{
  text-decoration:none;
  color:white;
  font-family:Diplomata;
  letter-spacing: 1.5em;
  display:block;
  padding:14px 16px;
}
ul.topnav{
  position:fixed;
  z-index:50;
  top:7%;
  width:100%;
  list-style-type: none;
  margin:0;
  padding:0;
  overflow:hidden;
  background-color: black;
}
ul.topnav li{
  float:left;
}
ul.topnav li a{
  display:block;
  color:white;
  font-family:Amita;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
}
ul.topnav li a:hover{
  background-color: #333;
}
ul.topnav li a:active{
  background-color: #4caf50;
}
ul.topnav li.right{
  float:right;
}
@media only screen and (max-width:768px){
  ul.topnav li.right,
  ul.topnav li {
    float:none;
  }
  .dropdown-content{left:25%;
  }

}
@media only screen and (max-width:768px){
  ul.topnav{position:static;}
  .web{position:static;}
  .web h3 a{letter-spacing:normal;}
  .dropdown-content{position:static;}

  p.col-2{
    left:25%;

  }
  }
.dropdown{
  display:block;
}
.dropdown-content{
    position:fixed;
  display:none;
 background-color: black;
  min-width:160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1000;
  float:none;
  overflow-y:scroll;
  max-height:50%;
}
.dropdown-content a{
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display: block;
  text-align:center;

}
.dropdown-content a:hover{
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
  display:block;
}



.main{
  background-image: url('http://www.marotura.com/wp-content/uploads/2014/02/technology1.jpg');
  max-width: 100%;
  height:750px;

}
h1.col-6{
  text-align:left;
  color:white;
  font-family:Sofia;
  position:relative;
  top:35%;
  padding-left: 20px;
  margin:auto;
  display: inline-block;
}
/*  button lets begin
p.col-2{
  position:relative;
  top:60%;
  padding:14px 16px;

  z-index:1;
  overflow:visible;
}
p.col-2 a{

  display:inline-block;
  background-color:green;
  color:white;
  text-decoration: none;
  text-align: center;
  padding:14px 16px;
  border-radius:10px;
}
p.col-2 a:hover{
  background:darkgreen;
}


*/

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #45a049;
}
.contact h1{
  padding:20px 20px;
  font-family:Sofia;


}

.contact{
    border-radius:5px;
    background-color: #f2f2f2;
    padding:20px 20px;

}

.about{
  padding-top: 25%;
  text-align: center;

}
.about h2{
  font-family:Diplomata;

}
.about h3{
  font-family:Sofia;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
